<nav class="navbar navbar-light navbar-static-top">
    <div class="container-fluid navbar-content">
        <a class="navbar-brand blog-logo" href="#">
            <img alt="logo" src="https://ws2.sinaimg.cn/large/006tNc79ly1fvqil36vd0j3074074742.jpg">
        </a>
        <a class="navbar-brand" href="#">
            刘浩然的博客
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="search.html">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="请输入关键字">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
</nav>