<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刘浩然的博客</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @font-face {
            font-family: 'iconfont';  /* project id 592611 */
            src: url('//at.alicdn.com/t/font_592611_hghwks0381a.eot');
            src: url('//at.alicdn.com/t/font_592611_hghwks0381a.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_592611_hghwks0381a.woff') format('woff'),
            url('//at.alicdn.com/t/font_592611_hghwks0381a.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_592611_hghwks0381a.svg#iconfont') format('svg');
        }
        .iconfont{
            font-family:"iconfont",serif !important;
            font-size:16px;font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0;
            -moz-osx-font-smoothing: grayscale;
        }
        a:link{
            text-decoration:none;
        }
        .blog-logo{
            padding: 5px;
        }
        .blog-logo>img{
            width: 40px;
            height: 40px;
        }
        .navbar-content{
            margin-left: 20px;
            margin-right: 20px;
        }
        /*.navbar{*/
            /*margin-bottom: 0;*/
        /*}*/
        .blog-bannd{
            background: url("https://ws2.sinaimg.cn/large/006tNc79ly1fvqj9khpfpj31kw11yagw.jpg");
            height: 400px;
        }
        .carousel-inner{
            height: 400px;
        }
        .blog-header{
            height: 128px;
            width: 128px;
        }
        .blog-home-my{
            text-align: center;
        }
        .iconfont-l{
            font-size: 30px;
            margin: 15px;
        }
        html,body{
            background-color: #FCFCFC;
        }
        .blog-footer{
            height: 100px;
            background-color: #333333;
            padding: 30px;
        }
        .text-white{
            color: #FCFCFC;
        }
        
    </style>
</head>
<body>
{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {{#articles.arr}}
            <article class="panel panel-default">
                <div class="panel-body">
                    <a class="h3" href="article/{{aid}}.html">{{articleTitle}}</a>
                    <p class="text-muted">作者:{{articleAuthorName}}&nbsp;&nbsp;&nbsp;最后编辑:{{updateTime}}&nbsp;&nbsp;&nbsp;点击数:{{articleClick}}&nbsp;&nbsp;&nbsp;赞:{{articleZan}}&nbsp;&nbsp;&nbsp;评论:{{articleCommemtNumber}}</p>
                    <p class="text-uppercase">
                        {{articleDescribe}}
                    </p>
                </div>
            </article>
            {{/articles.arr}}
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default blog-home-my">
                <div class="panel-body">
                    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fvqil36vd0j3074074742.jpg" alt="头像" class="img-circle blog-header">
                    <div>
                        <h3>刘浩然的博客</h3>
                    </div>
                    <div class="blog-my-account">
                        <a href="https://github.com/zzlhr"><i class="iconfont iconfont-l">&#xe677;</i></a>
                        <a href="https://github.com/zzlhr"><i class="iconfont iconfont-l">&#xe610;</i></a>
                        <a href="https://github.com/zzlhr"><i class="iconfont iconfont-l">&#xe60c;</i></a>
                        <a href="https://github.com/zzlhr"><i class="iconfont iconfont-l">&#xe66e;</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}

</body>
</html>